/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue:  #44b3cb;
  --dark: #272727;
  --green:  #c1da43;
  --green-dark:  #449694; 
  --light: #ecf9ff;
  --ligther: #fff;
}

html {
  background-color: var(--light);
}

body {
  color: var(--dark);
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

/* HEADER */
#header {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

/* MAIN */
.main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 1.25rem 0rem;
  text-align: center;
}

/* CARDS */
#cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 636px) {
  #cards {
    flex-direction: column;
  }
}
.cards_item {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}


.card {
  background-color: var(--ligther);
  border-radius: 2.50rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-border-radius: 2.50rem;
  -moz-border-radius: 2.50rem;
  -ms-border-radius: 2.50rem;
  -o-border-radius: 2.50rem;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card_content {
  padding: 0.25rem;
  background: linear-gradient(to bottom left, var(--green) 40%, var(--blue) 80%, var(--green-dark) 100%);
}

.card_title {
  color: var(--ligther);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: var(--ligther);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  text-align: center;
}

/* FOOTER */

footer {
  background-color:  var(--green);
  padding: 1.5rem 1rem;
}

.made_by p {  
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

.made_by a {
  text-decoration: none;
  padding: 0rem 0.25rem;
}