:root {
  --aqua: rgb(0, 255, 255);
  --blue: rgb(0, 0, 255);
  --gray: rgb(192, 174, 174);
  --green: rgb(0, 128, 0);
  --green-light: rgb(91, 165, 42);
  --green-lighter: rgb(81, 255, 0);
  --orange: rgb(255, 165, 0);
  --orange2: rgb(255, 166, 0);
  --pink: rgb(225, 0, 255);
  --red: rgb(255, 0, 0);
  --red2: rgb(241, 29, 29);
  --red-dark: rgb(165, 42, 42);
  --violet: rgb(138, 43, 227);
  --violet2: rgb(127, 129, 255);
  --violet3: rgb(102, 15, 241);
  --white: rgb(255, 255, 255);
  --yellow: rgb(255, 255, 0);
}

/**** PAGINA DE FLEX GROW Y FLEX BASIS ******/
#flex-grow-main .primeros-divs,
#flex-grow-main .segundos-divs,
#flex-grow-main .terceros-divs,
#flex-grow-main .cuartos-divs,
#flex-basis-main .primeros-divs,
#flex-basis-main .segundos-divs {
  display: flex;
  flex-wrap: wrap;
}

/***** FLEX GROW *****/
#flex-grow-main p,
#flex-basis-main p {
  padding: 0.5rem;
  text-align: center;
}
#flex-grow-main .div1,
#flex-grow-main .div2,
#flex-grow-main .div3,
#flex-grow-main .div4,
#flex-grow-main .div5,
#flex-grow-main .div6,
#flex-grow-main .div7,
#flex-grow-main .div8,
#flex-grow-main .div9,
#flex-grow-main .div10,
#flex-grow-main .div11,
#flex-grow-main .div12,
#flex-grow-main .div13 {
  height: 150px;
}
/*** primeros 3 divs ***/
#flex-grow-main .div1,
#flex-grow-main .div3 {
  width: 250px;
  flex-grow: 1;
}
#flex-grow-main .div2 {
  flex-grow: 2;
}
#flex-grow-main .div1 {
  background-color: var(--red);
}
#flex-grow-main .div2 {
  background-color: var(--yellow);
}
#flex-grow-main .div3 {
  background-color: var(--green);
}
/*** segundos 4 divs ***/
#flex-grow-main .div4 {
  background-color: var(--blue);
}
#flex-grow-main .div5 {
  background-color: var(--violet);
}
#flex-grow-main .div6 {
  background-color: var(--green-light);
}
#flex-grow-main .div7 {
  background-color: var(--red-dark);
}
#flex-grow-main .div4,
#flex-grow-main .div7 {
  width: 200px;
}
#flex-grow-main .div5,
#flex-grow-main .div6 {
  flex-grow: 1;
}
/*** terceros 3 divs ***/
#flex-grow-main .div8 {
  background-color: var(--pink);
}
#flex-grow-main .div9 {
  background-color: var(--violet3);
}
#flex-grow-main .div10 {
  background-color: var(--red2);
}
#flex-grow-main .div8 {
  flex-grow: 2;
}
/*** cuartos 3 divs ***/
#flex-grow-main .div11 {
  background-color: var(--orange);
}
#flex-grow-main .div12 {
  background-color: var(--aqua);
}
#flex-grow-main .div13 {
  background-color: var(--violet2);
}
#flex-grow-main .div11,
#flex-grow-main .div12 {
  width: 20%;
}
#flex-grow-main .div13 {
  width: 60%;
}

/** FLEX BASIS **/
#flex-basis-main .div1,
#flex-basis-main .div2,
#flex-basis-main .div3,
#flex-basis-main .div4,
#flex-basis-main .div5,
#flex-basis-main .div6,
#flex-basis-main .div7,
#flex-basis-main .div8,
#flex-basis-main .div9,
#flex-basis-main .div10,
#flex-basis-main .div511 {
  height: 250px;
}
/* primeros 5 divss*/
#flex-basis-main .div1,
#flex-basis-main .div3,
#flex-basis-main .div5 {
  background-color: var(--red);
  flex-basis: 25%;
}
#flex-basis-main .div2,
#flex-basis-main .div4 {
  background-color: var(--yellow);
  flex-basis: 25%;
}
#flex-basis-main .div5 {
  background-color: var(--red2);
  flex-grow: 1;
}

#flex-basis-main .div6,
#flex-basis-main .div8,
#flex-basis-main .div10 {
  background-color: var(--green-lighter);
  flex-basis: 25%;
}
#flex-basis-main .div7,
#flex-basis-main .div9,
#flex-basis-main .div11 {
  background-color: var(--orange2);
  flex-basis: 25%;
}

#flex-basis-main .div10,
#flex-basis-main .div11 {
  flex-grow: 2;
}

/** CARD DE PELICULA  **/
#card-pelicula {
  background-color: var(--gray);
}
#card-pelicula .card {
  background-color: var(--white);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 80%;
  height: 424px;
  margin: 100px auto;
  display: flex;
}
@media screen and (max-width: 678px) {
  #card-pelicula .card {
    flex-direction: column;
    height: 824px;
  }
}

.card-image img {
  width: 300px;
  height: 424px;
  border-radius: 1rem 0rem 0rem 1rem;
  -webkit-border-radius: 1rem 0rem 0rem 1rem;
  -moz-border-radius: 1rem 0rem 0rem 1rem;
  -ms-border-radius: 1rem 0rem 0rem 1rem;
  -o-border-radius: 1rem 0rem 0rem 1rem;
}
@media screen and (max-width: 678px) {
  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-image img {
    width: 240px;
    height: 340px;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
  }
}
.card-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.height1 {
  flex-grow: 1;
  padding: 0rem 0.75rem;
}
.height2 {
  flex-grow: 2;
  padding: 0rem 0.75rem;
}
.card-text h2 {
  text-align: center;
  padding: 0.75rem 0rem;
}
/****** LAYOUT *********/
#layout {
  height: 85%;
}

#layout-main {
  display: flex;
  padding: 0rem;
}

#layout-main .menu,
#layout-main .main,
#layout-main .aside {
  height: 80vh;
}

#layout-main .menu {
  background-color: var(--violet3);
  width: 150px;
}

#layout-main .main {
  background-color: var(--yellow);
  flex-grow: 2;
}

#layout-main .aside {
  background-color: var(--red-dark);
  flex-grow: 1;
}

#layout-main .menu h2,
#layout-main .aside h2 {
  color: var(--white);
}

#layout-main h2 {
  text-align: center;
  padding: 1rem;
}
/* Footer */
#layout footer {
  height: 140px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

#layout footer p {
  padding: 0rem 0.5rem;
}

/*** MENU DE OPCIONES ***/
#menu {
  height: 100vh;
}
#menu-opciones {
  min-height: auto;
}
/* header */
header.menu {
  background-color: var(--violet3);
  height: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.menu-avatar,
.menu-icono {
  width: 100px;
}
.menu-avatar img,
.menu-icono img  {
  width: 100%;
}
.menu-nombre {
  flex-grow: 1;
}
.menu-nombre  h2 {
  text-align: center;
}
/*main*/
#menu-opciones {
  padding: 0rem;
}
.menu-opciones-contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}
.menu-opciones-perfil,
.menu-opciones-contacto,
.menu-opciones-tarjetas,
.menu-opciones-redes,
.menu-opciones-ajustes {
  height: 100px;
}
.menu-opciones-contacto,
.menu-opciones-redes {
  background-color: var( --green-lighter);
  width: 100%;
  text-align: center;
}
.menu-opciones-contenedor h3 {
  line-height: 100px;
}
/* footer */
.footer-menu-de-opciones {
  background-color: var(--violet3);
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footer-menu-de-opciones button {
  background-color: var(--yellow);
  border-radius: 7px;
  border: none;
  color: var(--red-dark);
  font-weight: 800;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  text-transform: uppercase;
}
