h1 {
  font-size: 1.5rem;
}

/* para darle el color gris al texto*/
.gray {
  color: rgb(128, 128, 128);
}
/* Para personalizar el link */
.light-blue {
  text-decoration: none;
  color: rgb(0, 208, 255);
}

p {
  padding-bottom: 1.5rem;
}

.parrafo-distinto {
  font-family: 'Courier New', Courier, monospace;
}