h2 {
  text-align: center;
  line-height: 1.5;
}

.titulo,
.texto {
  padding-bottom: 2rem;
}

p {
  line-height: 1.8;
  text-align: center;
  padding: 1rem 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}