main {
  padding: 0rem;
}

h1,
h2:not(header h2) {
  color: var(--primary-color);
  padding: 1.5rem 0rem;
}

h1 {
  font-weight: 800;
}

header h2 {
  line-height: 2;
}

h2 {
  font-weight: 600;
}

.lunes,
.martes,
.miercoles,
.jueves,
.viernes,
.sabado,
.domingo {
  padding: 3rem 1.5rem;
}

.lunes,
.miercoles,
.viernes,
.domingo {
  background-color: var(--gray-color);
}

