/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

:root {
  --primary-color: rgb(218, 8, 127);
  --primary-color-light: rgba(255, 0, 144, 0.969);
  --primary-color-dark: rgba(181, 11, 108, 0.949);
  --secondary-color: rgb(255, 255, 255);
  --gray-color: rgb(197, 186, 186);
  --gray-color-dark: rgb(136, 136, 136);
  --yellow-color: rgb(255, 255, 0);
  --hover-color: rgb(72, 6, 109);
  --dongle: 'Dongle', sans-serif;
}

/*General */
body {  
  font-family: var(--dongle);
}

h1 {  
  font-size: 1.5rem;
  text-align: center;
}

h2 {  
  font-size: 1.25rem;
}

h3 {  
  font-size: 1.10rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}
/* Header */
/* Footer */
header,
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1.75rem 1rem;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* Main */
main {
  min-height: 80vh;
  padding: 1rem;
}

/* Footer */
footer p {
  text-align: center;
  padding: 1rem 0.50rem;
}

footer a {
  color: var(--gray-color);
  font-weight: 600;
  text-decoration: none;
}

footer a:hover {
  color: var(--hover-color);
}

footer img {
  width: 7rem;
  padding: 0.25rem 1rem;
}

@media screen and (max-width: 576px) {
  footer img {
    width: 5rem;
    padding: 0rem 0.50rem;
  }
}

@media screen (min-width: 577px) and (max-width: 768px) {
  footer img {
    width: 6rem;
  }
}

/* Para los tamaños de los span en paisaje.html*/
.font-1 {
  font-size: 1.25rem;
}

.font-2 {
  font-size: 1.75rem;
}

.font-3 {
  font-size: 2.75rem;
}

/* para ubicar los parrafos en practica.html*/
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* para dar colores a las fruta en frutas.html*/

.frutas {
  padding: 1.5rem 2.5rem;
}

.manzana {
  color: rgba(255, 0, 0, 0.872);
}

.banana {
  color: rgba(255, 255, 0, 0.93);
}

.kiwi {
  color: rgb(8, 150, 8);
}

.naranja {
  color: rgb(255, 165, 0);
}

.frutilla {
  color: rgb(255, 0, 93);
}

.uva {
  color: rgb(144, 34, 144);
}

.pomelo {
  color: rgba(255, 217, 0, 0.848);
}

.cereza {
  color: rgba(134, 13, 57, 0.913);
}

.pera {
color:rgb(124, 208, 124);
}

.maracuja {
  color: rgba(255, 242, 0, 0.856);
}

/* Para la paleta de colores en paleta-de-colores.html*/
.paletas {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
}

.paleta1,
.paleta2,
.paleta3 {
  padding: 1rem 0rem;
}


.paletas ul {
  list-style: none;
}

.f9f8fc {
  background-color: #f9f8fc;
}

.d94de7 {
  background-color: #d94de7;
}

.fec7d7 {
  background-color: #fec7d7;
}

.b8546f0 {
  background-color: #8546f0;
}

.b0e172c {
  background-color: #0e172c;
  color: #fff;
}

/*paleta eco */
.eff0f3 {
  background-color: rgb(239, 240, 243);
}

.abd1c6 {
  background-color: rgb(171, 209, 198);
}

.f9bc60 {
  background-color: rgb(249, 188, 96);
}

.e16162 {
  background-color: rgb(225, 97, 98);
}

.b004643 {
  background-color: rgb(0, 70, 67);
  color: #fff;
}

/* paleta education*/
.fef6e4 {
  background-color: hsl(42, 93%, 95%);
}

.f3d2c1 {
  background-color: hsl(20, 68%, 85%);
}

.b8bd3dd {
  background-color: hsl(187, 55%, 71%);
}

.f582ae {
  background-color: hsl(337, 85%, 74%);
}

.b001858 {
  background-color: hsl(224, 100%, 17%);
  color: #fff;
}