/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");


:root {
  --black: rgb(4, 4, 4);
  --black2: rgba(0, 0, 0, 0.7);
  --blue: rgb(93, 0, 255);
  --blue2: rgb(143, 140, 167);
  --blue3: rgb(116, 100, 243);
  --blue4: rgb(4, 124, 196);
  --blue5: rgb(88, 139, 218);
  --blue-dark: rgb(14, 23, 44);
  --blue-dark2: rgb(4, 36, 148);
  --blue-dark3: rgb(42, 64, 100);
  --blue-dark4: rgb(12, 31, 44);
  --blue-light: rgb(116, 172, 220);
  --blue-light2: rgb(234, 227, 251);
  --blue-light3: rgb(143, 140, 167);
  --blue-light4: rgb(173, 176, 189);
  --blue-light5: rgb(189, 192, 206);
  --blue-temperature: rgb(9, 9, 168);
  --blue-temperature2: rgb(55, 55, 227);
  --blue-temperature3: rgb(92, 92, 236);
  --blue-temperature4: rgb(136, 136, 234);
  --blue-temperature5: rgb(172, 172, 234);
  --blue-temperature6: rgb(195, 195, 234);
  --cherry-color: rgba(134, 13, 57, 0.913);
  --gray: rgb(128, 128, 128);
  --gray2: rgb(112, 112, 112);
  --gray3: rgb(168, 168, 168);
  --gray4: rgb(81, 81, 81);
  --gray5: rgb(114, 112, 112);
  --gray6: rgb(140, 140, 140);
  --gray7: rgb(163, 163, 163);
  --gray-bar: rgb(234, 234, 234);
  --gray-bar2: rgba(234, 234, 234, 0.671);
  --gray-color: rgb(197, 186, 186);
  --gray-color-light: rgb(207, 201, 201);
  --gray-color-dark: rgb(136, 136, 136);
  --gray-dark: rgb(52, 52, 52);
  --green-bar: rgb(76, 175, 80);
  --green-light-fruit: rgb(124, 208, 124);
  --green-fruit: rgb(8, 150, 8);
  --green-dark: rgb(4, 107, 68);
  --orange: rgb(255, 157, 0);
  --orange-fruit: rgb(255, 165, 0);
  --orange-flag: rgb(252, 203, 4);
  --orange-temperature: rgb(255, 165, 0);
  --primary-color: rgb(218, 8, 127);
  --pink: rgb(255, 0, 251);
  --pink2: rgb(236, 97, 137);
  --pink-fruit: rgb(255, 0, 93);
  --pink-light: rgb(254, 199, 215);
  --primary-color-light: rgba(255, 0, 144, 0.969);
  --primary-color-dark: rgba(181, 11, 108, 0.949);
  --red: rgb(203, 33, 64);
  --red-fruit: rgba(255, 0, 0, 0.872);
  --red-flag: rgb(236, 43, 59);
  --red-flag2: rgb(220, 4, 4);
  --red-dark: rgb(203, 20, 36);
  --red-temperature: rgb(255, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --violet: rgb(217, 77, 231);
  --violet-dark: rgb(133, 70, 240);
  --violet-fruit: rgb(144, 34, 144);
  --white: rgb(255, 255, 255);
  --white2: rgb(249, 248, 252);
  --white3: rgb(243, 241, 243);
  --white4: rgb(224, 224, 225);
  --white5: rgb(242, 242, 242);
  --white6: rgb(238, 238, 238);
  --white7: rgb(216, 216, 216);
  --yellow-color: rgb(255, 255, 0);
  --yellow-fruit: rgba(255, 255, 0, 0.93);
  --yellow-fruit2: rgba(255, 217, 0, 0.848);
  --yellow-fruit3: rgba(255, 242, 0, 0.856);
  --yellow-temperature: rgb(255, 255, 0);
  --yellow-temperature2: rgba(255, 255, 0, 0.855);
  --yellow-temperature3: rgba(215, 215, 90, 0.788);
  --hover-color: rgb(72, 6, 109);
  --dongle: "Dongle", sans-serif;
  --roboto-mono: "Roboto Mono", monospace;
}

/*General */
body {
  font-family: var(--dongle);
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}
/* Header */
/* Footer */
header,
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1.75rem 1rem;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* Main */
main {
  min-height: 80vh;
  padding: 1rem;
}

/* Footer */
footer p {
  text-align: center;
  padding: 1rem 0.5rem;
}

footer a {
  color: var(--gray-color);
  font-weight: 600;
  text-decoration: none;
}

footer a:hover {
  color: var(--hover-color);
}

footer img {
  width: 7rem;
  padding: 0.25rem 1rem;
}

@media screen and (max-width: 576px) {
  footer img {
    width: 5rem;
    padding: 0rem 0.5rem;
  }
}

@media screen (min-width: 577px) and (max-width: 768px) {
  footer img {
    width: 6rem;
  }
}

/* Para los tamaños de los span en paisaje.html*/
.font-1 {
  font-size: 1.25rem;
}

.font-2 {
  font-size: 1.75rem;
}

.font-3 {
  font-size: 2.75rem;
}

/* para ubicar los parrafos en practica.html*/
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* para dar colores a las fruta en frutas.html*/

.frutas {
  padding: 1.5rem 2.5rem;
}

.manzana {
  color: var(--red-fruit);
}

.banana {
  color: var(--yellow-fruit);
}

.kiwi {
  color: var(--green-fruit);
}

.naranja {
  color: var(--orange-fruit);
}

.frutilla {
  color: var(--pink-fruit);
}

.uva {
  color: var(--violet-fruit);
}

.pomelo {
  color: var(--yellow-fruit2);
}

.cereza {
  color: var(--cherry-color);
}

.pera {
  color: var(--green-light-fruit);
}

.maracuja {
  color: var(--yellow-fruit3);
}

/* Para la paleta de colores en paleta-de-colores.html*/
.paletas {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
}

.paleta1,
.paleta2,
.paleta3 {
  padding: 1rem 0rem;
}

.paletas ul {
  list-style: none;
}

.f9f8fc {
  background-color: var(--white2);
}

.d94de7 {
  background-color: var(--violet);
}

.fec7d7 {
  background-color: var(--pink-light);
}

.b8546f0 {
  background-color: var(--violet-dark);
}

.b0e172c {
  background-color: var(--blue-dark);
  color: var(--white);
}

/*paleta eco */
.eff0f3 {
  background-color: rgb(239, 240, 243);
}

.abd1c6 {
  background-color: rgb(171, 209, 198);
}

.f9bc60 {
  background-color: rgb(249, 188, 96);
}

.e16162 {
  background-color: rgb(225, 97, 98);
}

.b004643 {
  background-color: rgb(0, 70, 67);
  color: var(--white);
}

/* paleta education*/
.fef6e4 {
  background-color: hsl(42, 93%, 95%);
}

.f3d2c1 {
  background-color: hsl(20, 68%, 85%);
}

.b8bd3dd {
  background-color: hsl(187, 55%, 71%);
}

.f582ae {
  background-color: hsl(337, 85%, 74%);
}

.b001858 {
  background-color: hsl(224, 100%, 17%);
  color: var(--white);
}

/* Para los colores en el termometro*/
.termometro {
  padding-left: 2rem;
}
.termometro li {
  font-weight: 800;
}
.c50 {
  color: var(--red-temperature);
}

.c45 {
  color: var(--orange-temperature);
}

.c40 {
  color: var(--yellow-temperature);
}

.c35 {
  color: var(--yellow-temperature2);
}

.c30 {
  color: var(--yellow-temperature3);
}

.c25 {
  color: var(--blue-temperature6);
}

.c20 {
  color: var(--blue-temperature5);
}

.c15 {
  color: var(--blue-temperature4);
}

.c10 {
  color: var(--blue-temperature3);
}

.c5 {
  color: var(--blue-temperature2);
}

.c0 {
  color: var(--blue-temperature);
}

/* INDEX CLASE 3*/
.header-clase3 {
  flex-direction: column;
}

#clase3-banderas {
  background-color: var(--gray-color-light);
}
#clase3 p {
  text-align: center;
  font-weight: 800;
  line-height: 2.8;
}

#clase3 p a {
  background-color: rgb(195, 195, 234);
  border-radius: 0.25em;
  box-shadow: -4px 4px rgba(130, 123, 123, 0.505);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
}

#clase3 p a:hover {
  background-color: rgb(234, 195, 228);
}

/** CLASE 3 BANDERAS ***/
/* banderas*/
#clase3-banderas h2 {
  text-align: center;
  padding: 1rem 0rem;
}

.bandera {
  height: 320px;
}

.bandera-argentina,
.bandera-mexico,
.bandera-francia,
.bandera-alemania,
.bandera-indonesia,
.bandera-japon {
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

/* bandera Argentina*/
.bandera-argentina .franja-celeste,
.bandera-argentina .franja-blanca {
  height: 66px;
}

.bandera-argentina .franja-celeste {
  background-color: var(--blue-light);
}

.bandera-argentina .franja-blanca {
  background-color: var(--white);
}

/* bandera Mexico */
/* bandera Francia */
.bandera-mexico .franja-verde,
.bandera-mexico .franja-blanca,
.bandera-mexico .franja-roja,
.bandera-francia .franja-azul,
.bandera-francia .franja-blanca,
.bandera-francia .franja-roja {
  height: 200px;
  width: 97px;
  display: inline-block;
}

/* bandera Mexico */
.bandera-mexico .franja-verde {
  background-color: var(--green-dark);
}

.bandera-mexico .franja-blanca {
  background-color: var(--white);
}

.bandera-mexico .franja-roja {
  background-color: var(--red-dark);
}

/* bandera Francia*/
.bandera-francia .franja-azul {
  background-color: var(--blue-dark2);
}

.bandera-francia .franja-blanca {
  background-color: var(--white3);
}

.bandera-francia .franja-roja {
  background-color: var(--red-flag);
}

/* bandera Alamania*/
.bandera-alemania .franja-negra,
.bandera-alemania .franja-roja,
.bandera-alemania .franja-amarilla {
  height: 66px;
}

.bandera-alemania .franja-negra {
  background-color: var(--black);
}

.bandera-alemania .franja-roja {
  background-color: var(--red-flag2);
}

.bandera-alemania .franja-amarilla {
  background-color: var(--orange-flag);
}

/* Bandera Indonesia */
.bandera-indonesia .franja-roja,
.bandera-indonesia .franja-blanca {
  height: 100px;
}

.bandera-indonesia .franja-roja {
  background-color: var(--red-flag2);
}

.bandera-indonesia .franja-blanca {
  background-color: var(--white);
}

/* Bandera Japon */
.bandera-japon {
  height: 200px;
  background-color: var(--white);
}

.circulo-rojo {
  background-color: var(--red-flag2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto 50px;
  border: 41px solid var(--white);
}

/* CLASE 3 - BARRAS DE PROGRESO*/

#barras-de-progreso .barra {
  width: 300px;
  height: 30px;
  background-color: var(--gray-bar);
  padding: 3px;
  border-radius: 100px;
  margin: 20px;
}

@media screen and (max-width: 340px) {
  #barras-de-progreso .barra {
    width: 270px;
    height: 28px;
    background-color: var(--gray-bar2);
    padding: 2px;
    border-radius: 80px;
    margin: 10px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
  }
}

.barra-10,
.barra-25,
.barra-50,
.barra-75,
.barra-90 {
  background-color: var(--green-bar);
}

.barra-10 {
  width: 10%;
}

.barra-25 {
  width: 25%;
}

.barra-50 {
  width: 50%;
}

.barra-75 {
  width: 70%;
}

.barra-90 {
  width: 90%;
}

/* CLASE 3 - HABILIDADES*/
.habilidades {
  background: rgb(7, 200, 209);
  background: linear-gradient(
    90deg,
    rgba(7, 200, 209, 1) 0%,
    rgba(68, 212, 216, 1) 100%
  );
  padding-top: 2rem;
}

.habilidades-card {
  background-color: var(--white);
  height: 45vh;
  width: 60vw;
  margin: auto;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.habilidades-card h3 {
  font-size: 0.8rem;
}

.habilidades-card button {
  margin-right: 2rem;
  padding: 0.1rem 0.25rem;
  background-color: var(--white);
  border: 1px solid var(--gray);
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.row1 h2 {
  padding: 0.75rem;
}

.row2,
.row3,
.row4 {
  width: 238px;
  margin: 0px 0px 6px 12px;
  border: 1px solid var(--gray2);
  padding: 0.25rem;
}

.row2 {
  border-left: 2px solid var(--pink);
}

.row3 {
  border-left: 2px solid var(--blue);
}

.row4 {
  border-left: 2px solid var(--orange);
}

@media screen and (max-width: 576px) {
  .habilidades-card {
    height: 45vh;
    width: 92vw;
    margin: auto;
  }

  .row2,
  .row3,
  .row4 {
    width: 90%;
    margin: 0px 0px 10px 14px;
  }
}
@media screen and (min-width: 786px) {
  .habilidades-card {
    height: 45vh;
    width: 65vw;
    margin: auto;
  }

  .row2,
  .row3,
  .row4 {
    width: 460px;
    margin: 0px 0px 12px 16px;
  }

  .habilidades-card h3 {
    font-size: 1.25rem;
  }
}

/* CLASE 3 - DONACION */
#donacion {
  background-color: var(--blue2);
  padding-top: 1.5rem;
}

.donacion-card {
  background-color: var(--blue-light2);
  border-radius: 0.5rem;
  height: 60vh;
  width: 60vw;
  margin: auto;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

@media screen and (max-width: 540px) {
  .donacion-card {
    height: 70vh;
  }
}

.donacion-texto p,
.donacion-importe,
.donacion-continue {
  padding: 1.5rem 2rem;
  text-align: center;
}

@media screen and (max-width: 578px) {
  .donacion-texto p,
  .donacion-importe,
  .donacion-continue {
    padding: 1rem 1.5rem;
  }
}

.donacion-texto p {
  font-family: var(--roboto-mono);
  font-weight: 800;
  line-height: 2;
  font-size: 1.5rem;
}

@media screen and (max-width: 578px) {
  .donacion-texto p {
    line-height: 1.5;
    font-size: 1.2rem;
  }
}
.btn-importe {
  border-width: 1px;
  border-color: var(--blue-light3);
  border-radius: 0.5rem;
  margin: 0.1rem;
  padding: 0.75rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.btn-importe:hover {
  background-color: var(--blue3);
  color: var(--white);
}

.btn-continue {
  background-color: var(--blue3);
  border-width: 0px;
  color: var(--white);
  font-weight: 800;
  width: 80%;
  padding: 0.75rem 0rem;
  box-shadow: -3px 3px var(--gray3);
}

/* CLASE 3 - TAREAS*/
.tareas {
  background-color: var(--blue4);
}

.tareas h2 {
  color: var(--white);
  padding-bottom: 2rem;
}

.tareas .card {
  background-color: var(--white4);
  border-radius: 7px;
  width: 60%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

@media all and (max-width: 768px) {
  .tareas .card {
    width: 80%;
  }
}
.tareas h3 {
  color: var(--gray4);
  padding: 1rem;
}

.tareas .texto {
  background-color: var(--white);
  border-radius: 5px;
  color: var(--gray4);
  font-weight: 600;
  margin: 0.5rem;
  padding: 0.25rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.tareas .texto-bloqueado {
  color: var(--gray5);
  font-weight: 400;
  margin: 0.5rem;
  padding-bottom: 1rem;
}

/* CLASE 3 - PROTECCION DE CUENTA */
.proteccion-cuenta {
  background-color: var(--blue-light4);
}

.proteccion-cuenta .card {
  background-color: var(--white);
  border-radius: 14px;
  width: 500px;
  height: 660px;
  margin: 100px auto;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  padding: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 678px) {
  .proteccion-cuenta .card {
    background-color: var(--white);
    border-radius: 14px;
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
.row-2,
.row-3 {
  padding: 1rem 0rem;
}

.row-4 {
  padding: 1.5rem 3rem;
  text-align: center;
}

.row-5 {
  background-color: var(--blue-light5);
  border-radius: 7px;
  padding: 1.25rem 2.5rem;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin-bottom: 2rem;
  text-align: center;
}

.row-5-1,
.row-5-2 {
  height: 45px;
}

.row-5-3 {
  margin-bottom: 2rem;
}

.row-5-3 button {
  padding: 0.25rem 1.75rem;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.row6-confirm {
  background-color: var(--blue-dark3);
  color: var(--white);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  padding: 0.25rem 0.75rem;
}

/* CLASE 3 - EVENTOS*/
#eventos {
  font-family: "Muli", sans-serif;
  background-color: var(--white5);
}


.eventos {
  background-color: var(--white);
  width: 700px;
  margin: 50px auto;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .eventos {
    width: 90%;
    margin: 50px auto;
    padding: 30px;
  }
}

.header-eventos {
  padding: 10px 30px;
}

.header-title {
  font-weight: 900;
  color: var(--gray-dark);
  font-size: 40px;
}

.filters {
  margin-top: 40px;
  margin-bottom: 20px;
}

.filter {
  margin-right: 10px;
  color: var(--gray6);
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .filter {
    margin-right: 8px;
    font-size: 10px;
}
}

.filter-selected {
  background-color: var(--gray-dark);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
}

.evento {
  padding: 40px 30px;
  border-bottom: 1px solid var(--white5);
}

.evento-last {
  border-bottom: 0;
}

.evento-time {
  color: var(--gray7);
}

.evento-title {
  color: var(--gray-dark);
}

.evento-description {
  color: var(--gray6);
}

.evento-status {
  color: var(--pink2);
  margin-right: 10px;
}

.see-more-link {
  text-decoration: none;
  font-size: 14px;
}

/* CLASE 3 - CARD PRODUCTO*/
#card-producto {
  background-color: var(--white6);
  text-align: center;
  color: var(--white);
}

.product-card {
  background: var(--red);
  overflow: hidden;
  margin: 50px auto;
  border-radius: 18px;
  width: 600px;
  padding: 40px 0 0;
  box-shadow: 0 7px 20px var(--black2);
}

@media screen and (max-width: 678px) {
  .product-card {
    width: 90%;
  }
}

.product-image {
  display: block;
  width: 200px;
  margin: 20px auto 55px;
}

.product-info {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background: var(--blue-dark4);
  padding: 40px;
}

.product-name {
  font-weight: 800;
  line-height: 46px;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 678px) {
  .product-name {
    line-height: 30px;
    font-size: 30px;
    margin-bottom: 18px;
  }
  
}

.product-price {
  font-weight: 300;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 30px;
}

#card-producto .section {
  margin-bottom: 40px;
}

#card-producto .section-title {
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  margin-bottom: 15px;
}

.tag {
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 100px;
  border: 1px solid var(--red);
  margin: 0 5px;
}

.add-to-cart-btn {
  width: 200px;
  height: 48px;
  background: var(--red);
  border-radius: 90px;
  font-weight: 300;
  font-size: 14px;
  padding: 0 24px;
  color: var(--white);
  border: 0;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.add-to-cart-btn-text {
  line-height: 48px;
}

/* CLASE 3 - NOTIFICACION */
#notificacion {
  background-color: var(--white7);
}

#notificacion .container {
  width: 70%;
  margin: 100px auto;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.75rem 1.75rem 3.25rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.titulo h2 {
  padding: 1rem 0rem;
}

.text p {
  padding-bottom: 1rem;
}

.text a {
  text-decoration: none;
  font-weight: 600;
}

.boton button {
  background-color: var(--blue5);
  color: var(--white);
  padding: 0.50rem 1.75rem;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}