.introduccion p {
  text-align: center;
  padding: 0.50rem 1rem;
}

.introduccion img {
  border-radius: 4rem;
  box-shadow: -2rem 2rem 2rem #bbbbbb;
  width: 60%;
  display: block;
  margin: 3.5rem auto;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
}

.preparacion {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}