h2 {
  padding: 0.75rem 0rem;
}

/* Introduccion */
.introduccion p {
  text-align: center;
  padding: 0.50rem 1rem;
}

.introduccion img {
  border-radius: 4rem;
  box-shadow: -2rem 2rem 2rem #bbbbbb;
  width: 60%;
  display: block;
  margin: 3.5rem auto;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
}

.preparacion {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ingredientes,
.instrucciones {
  padding: 2rem 0.50rem;
}

/* Ingredientes */
.ingredientes p {
  line-height: 2;

}
.ingredientes ul li {
  list-style-position: inside;
}

/* Instrucciones */
.instrucciones h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.instrucciones ol li {
  list-style-position: inside;
  line-height: 1.8;
  padding-bottom: 0.50rem;
}